body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.cards{
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: center;
}
.titulo{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.cards-int{
    width: 80%;
    height: 400px;

    display: flex;
    justify-content: space-around;
}
.IR-card, .FP-card, .EF-card{
    height: 450px;
    width: 320px;
    background-color: rgb(210,210,210);
    border-radius: 15px;
}
.cards img{
    width: 320px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

}



.menu{
    display: flex;
    height: 60px;
    width: 240px;
    justify-content: space-around;
    align-items: center;
}
a{
    color: aliceblue;
    text-decoration: none;
}
.header{
    background-color: #084d6e;
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
}
.logo{
    height: 60px;
    width: 60px;
    margin-left: 10px;
}
